# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
storybook-static/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# editor / os
.DS_Store
*.log

# extension
apps/extension/*.zip
